@charset "UTF-8";

/*Paleta de cores:
azul: #1f2a33
cinza claro: #c9d1d6
bege: #d8b49a
*/
:root{
    --fundo1:#275071;
    --cor1: #e3e9ed;
    --cor2:#d8b49a;
    --cor3: #10b981;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--fundo1);
    height: 100vh;
    width: 100vw;

}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    background-color: var(--cor1);
    height: 550px;
    width: 300px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.539);
}

div#imagem{
    background: var(--fundo1) url(../imagens/pexels-rlldied-10997877.jpg);
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    display: block;
}

section#login >div#formulario{
    padding: 10px;
    display: block;
}

p{
    padding-bottom: 10px;
}

div#formulario > h1{
    text-align: center;
    padding: 5px;
}

form > div.campo{
    background-color:#275071c3;
    margin: 5px 0px;
    border-radius: 8px;
    padding: 5px 0px 7px;
}

div.campo > label {
    display: none;
}

form > input[type=submit]{
    display: block;
    width: 100%;
    font-size: 1em;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color:var(--cor3);
    color:#052e16;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color:#096747;
    color: rgb(212, 236, 200);
    transition-duration: 0.2s;
}

input{
    padding: 5px;
}

form > a.botao{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: #4c2727;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 1em;
    
    box-shadow: 0px 0px 1px 1px #4c2727ab;
    margin-top: 5px;

}

form > a.botao:hover{
    background-color: #4c2727;
    color: #ef4444;
}